In [2]:




!pip3 install -U ucimlrepo 

from ucimlrepo import fetch_ucirepo ,list_available_datasets
import pandas as pd
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables) 

# combined data of features and targets 
cen_inc =  adult.data.original

Requirement already satisfied: ucimlrepo in c:\users\ravid\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\ravid\anaconda3\lib\site-packages (from ucimlrepo) (2.0.3)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\ravid\anaconda3\lib\site-packages (from ucimlrepo) (2024.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ravid\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ravid\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ravid\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ravid\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ravid\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [3]:
adult.variables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            15 non-null     object
 1   role            15 non-null     object
 2   type            15 non-null     object
 3   demographic     11 non-null     object
 4   description     10 non-null     object
 5   units           0 non-null      object
 6   missing_values  15 non-null     object
dtypes: object(7)
memory usage: 972.0+ bytes

In [4]:
cen_inc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
cen_inc.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
cen_inc.income.unique()

array(['<=50K', '>50K', '<=50K.', '>50K.'], dtype=object)

In [7]:
cen_inc.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
X.sample()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
38207,21,NaN,520231,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,40,United-States

In [9]:
X['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked',
       nan], dtype=object)

In [10]:
(cen_inc == '?').sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [11]:
cen_inc.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [12]:
adult.data.headers

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [13]:
adult

{'data': {'ids': None,
  'features':        age         workclass  fnlwgt  education  education-num  \
  0       39         State-gov   77516  Bachelors             13
  1       50  Self-emp-not-inc   83311  Bachelors             13
  2       38           Private  215646    HS-grad              9
  3       53           Private  234721       11th              7
  4       28           Private  338409  Bachelors             13
  ...    ...               ...     ...        ...            ...
  48837   39           Private  215419  Bachelors             13
  48838   64               NaN  321403    HS-grad              9
  48839   38           Private  374983  Bachelors             13
  48840   44           Private   83891  Bachelors             13
  48841   35      Self-emp-inc  182148  Bachelors             13

             marital-status         occupation    relationship  \
  0           Never-married       Adm-clerical   Not-in-family
  1      Married-civ-spouse    Exec-managerial         Husband
  2                Divorced  Handlers-cleaners   Not-in-family
  3      Married-civ-spouse  Handlers-cleaners         Husband
  4      Married-civ-spouse     Prof-specialty            Wife
  ...                   ...                ...             ...
  48837            Divorced     Prof-specialty   Not-in-family
  48838             Widowed                NaN  Other-relative
  48839  Married-civ-spouse     Prof-specialty         Husband
  48840            Divorced       Adm-clerical       Own-child
  48841  Married-civ-spouse    Exec-managerial         Husband

                       race     sex  capital-gain  capital-loss  hours-per-week  \
  0                   White    Male          2174             0              40
  1                   White    Male             0             0              13
  2                   White    Male             0             0              40
  3                   Black    Male             0             0              40
  4                   Black  Female             0             0              40
  ...                   ...     ...           ...           ...             ...
  48837               White  Female             0             0              36
  48838               Black    Male             0             0              40
  48839               White    Male             0             0              50
  48840  Asian-Pac-Islander    Male          5455             0              40
  48841               White    Male             0             0              60

        native-country
  0      United-States
  1      United-States
  2      United-States
  3      United-States
  4               Cuba
  ...              ...
  48837  United-States
  48838  United-States
  48839  United-States
  48840  United-States
  48841  United-States

  [48842 rows x 14 columns],
  'targets':        income
  0       <=50K
  1       <=50K
  2       <=50K
  3       <=50K
  4       <=50K
  ...       ...
  48837  <=50K.
  48838  <=50K.
  48839  <=50K.
  48840  <=50K.
  48841   >50K.

  [48842 rows x 1 columns],
  'original':        age         workclass  fnlwgt  education  education-num  \
  0       39         State-gov   77516  Bachelors             13
  1       50  Self-emp-not-inc   83311  Bachelors             13
  2       38           Private  215646    HS-grad              9
  3       53           Private  234721       11th              7
  4       28           Private  338409  Bachelors             13
  ...    ...               ...     ...        ...            ...
  48837   39           Private  215419  Bachelors             13
  48838   64               NaN  321403    HS-grad              9
  48839   38           Private  374983  Bachelors             13
  48840   44           Private   83891  Bachelors             13
  48841   35      Self-emp-inc  182148  Bachelors             13

             marital-status         occupation    relationship  \
  0           Never-married       Adm-clerical   Not-in-family
  1      Married-civ-spouse    Exec-managerial         Husband
  2                Divorced  Handlers-cleaners   Not-in-family
  3      Married-civ-spouse  Handlers-cleaners         Husband
  4      Married-civ-spouse     Prof-specialty            Wife
  ...                   ...                ...             ...
  48837            Divorced     Prof-specialty   Not-in-family
  48838             Widowed                NaN  Other-relative
  48839  Married-civ-spouse     Prof-specialty         Husband
  48840            Divorced       Adm-clerical       Own-child
  48841  Married-civ-spouse    Exec-managerial         Husband

                       race     sex  capital-gain  capital-loss  hours-per-week  \
  0                   White    Male          2174             0              40
  1                   White    Male             0             0              13
  2                   White    Male             0             0              40
  3                   Black    Male             0             0              40
  4                   Black  Female             0             0              40
  ...                   ...     ...           ...           ...             ...
  48837               White  Female             0             0              36
  48838               Black    Male             0             0              40
  48839               White    Male             0             0              50
  48840  Asian-Pac-Islander    Male          5455             0              40
  48841               White    Male             0             0              60

        native-country  income
  0      United-States   <=50K
  1      United-States   <=50K
  2      United-States   <=50K
  3      United-States   <=50K
  4               Cuba   <=50K
  ...              ...     ...
  48837  United-States  <=50K.
  48838  United-States  <=50K.
  48839  United-States  <=50K.
  48840  United-States  <=50K.
  48841  United-States   >50K.

  [48842 rows x 15 columns],
  'headers': Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
         'marital-status', 'occupation', 'relationship', 'race', 'sex',
         'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
         'income'],
        dtype='object')},
 'metadata': {'uci_id': 2,
  'name': 'Adult',
  'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult',
  'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv',
  'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ',
  'area': 'Social Science',
  'tasks': ['Classification'],
  'characteristics': ['Multivariate'],
  'num_instances': 48842,
  'num_features': 14,
  'feature_types': ['Categorical', 'Integer'],
  'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'],
  'target_col': ['income'],
  'index_col': None,
  'has_missing_values': 'yes',
  'missing_values_symbol': 'NaN',
  'year_of_dataset_creation': 1996,
  'last_updated': 'Mon Aug 07 2023',
  'dataset_doi': '10.24432/C5XW20',
  'creators': ['Barry Becker', 'Ronny Kohavi'],
  'intro_paper': None,
  'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n',
   'purpose': None,
   'funded_by': None,
   'instances_represent': None,
   'recommended_data_splits': None,
   'sensitive_data': None,
   'preprocessing_description': None,
   'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.',
   'citation': None}},
 'variables':               name     role         type      demographic  \
 0              age  Feature      Integer              Age
 1        workclass  Feature  Categorical           Income
 2           fnlwgt  Feature      Integer             None
 3        education  Feature  Categorical  Education Level
 4    education-num  Feature      Integer  Education Level
 5   marital-status  Feature  Categorical            Other
 6       occupation  Feature  Categorical            Other
 7     relationship  Feature  Categorical            Other
 8             race  Feature  Categorical             Race
 9              sex  Feature       Binary              Sex
 10    capital-gain  Feature      Integer             None
 11    capital-loss  Feature      Integer             None
 12  hours-per-week  Feature      Integer             None
 13  native-country  Feature  Categorical            Other
 14          income   Target       Binary           Income

                                           description units missing_values
 0                                                 N/A  None             no
 1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
 2                                                None  None             no
 3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
 4                                                None  None             no
 5   Married-civ-spouse, Divorced, Never-married, S...  None             no
 6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
 7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
 8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
 9                                       Female, Male.  None             no
 10                                               None  None             no
 11                                               None  None             no
 12                                               None  None             no
 13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
 14                                       >50K, <=50K.  None             no  }